<div id="banner" class="home">
	<div class="h1">The Brew's News</div>
	<a href="/beers/short-circuit"><img src="/assets/blank.png" class="banner-link-image"/></a>
</div> 

<div id="banner" class="general">
	<div class="h1">The Brew's News</div>
</div> 

<div id="banner" class="who">
	<div class="h1">The Brew's News</div>
</div> 

<div id="banner" class="where">
	<div class="h1">The Brew's News</div>
	<a href="#"><img src="/assets/blank.png" class="banner-link-image"/></a>
</div> 

<div id="banner" class="beers">
	<ul>
		<li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
		<li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
		<li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
		<li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
		<li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
	</ul>
</div>

<div id="content" class="beers short-circuit">

	<div id="left" class="short-circuit">
		<h1>Short Circuit Stout</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>
	<div id="right" class="short-circuit">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="ostrich">BJCP:</span>
			Sweet Stout, style 13B
		</div>
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A<br/>
			30min - 2.25# Lactose<br/>
			1min - 2oz East Kent Goldings 5%A<br/>
		</div>
	</div>

	<div id="left" class="flip-switch">
		<h1>Flip Switch IPA</h1>
		<p>
			Flip Switch IPA is an award winning American Style IPA, BJCP style
			14B. This style is known for its intense hop aroma and flavor. Maris
			Otter was chosen as a base malt for the biscuity flavor it imparts
			along with other specialty grains to add color and body. American hops
			(i.e., Chinook, Warrior, Centennial, and Citra) impart bold aromas,
			flavors, and a balanced bitterness to match the malty base.
		</p>
	</div>

	<div id="right" class="flip-switch">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="ostrich">BJCP:</span>
			American IPA, style 14B
		</div>

		<div id="recipe">
			<h2>Flip Switch Recipe</h2>
			<em>60% Efficiency, 15 gallons</em>

			<h3>Mash Ingredients</h3>
			30# Pale Malt 2row 2srm <br/>
			10# Caramel/Crystal 20 20srm<br/>
			3# Dextrine Malt 2srm<br/>

			<h3>Boil Ingredients</h3>
			60min - 3oz Chinook 11.4%A<br/>
			20min - 2oz Warrior 16.8%A<br/>
			10min - 1.5oz Centennial 10%A<br/>
			1min - 2oz Citra 11%A<br/>

			<h3>Dry Hop</h3>
			4.5oz Citra 11%A<br/>
			3oz Warrior 16.8%A<br/>
			<br/>
			OG 1066<br/>
			FG 1020<br/>
			Est. 6.1%ABV<br/>
		</div>
	</div>

	<div id="left" class="wheatstone">
		<h1>Wheatstone Bridge</h1>
		<p>
			We used American malted wheat as the base beer and added
			Minnesota honey to give a nice light and silky base into which
			chamomile tea is then steeped. All this combines to create a light
			refreshing beer that is perfect for relaxing while enjoying the summer
			weather.
		</p>
	</div>

	<div id="right" class="wheatstone">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="ostrich">BJCP:</span>
			American Style Wheat or Rye, style 6D
		</div>
		<div id="recipe">
			<h2>Wheatstone Recipe</h2>
			<em>70% Efficiency, 15 gallons</em>

			<h3>Mash Ingredients</h3>
			5# 14.3% Rice Hulls<br/>
			12# 34.3% Pale Malt 2row 6srm<br/>
			12# 34.3% Wheat Malt 2srm<br/>

			<h3>Boil Ingredients</h3>
			60min - 2oz Vanguard 5.5%A 12.9IBU<br/>
			0min - 6# 17.1% Honey, 6oz Chamomile<br/>

			<br/>
			OG 1054<br/>
			FG 1005<br/>
			Est 6.3%ABV<br/>
		</div>
	</div>

	<div id="left" class="schottky">
		<h1>Schottky Recipe</h1>
		<p> Who wouldn't want pumpkin pie in the form of a beer? This beer
		is the perfect complement to fall. With its delicious roasted pumpkin
		in the mash combined with lots of pumpkin pie spice, it makes for a
		great beer that enhances any fall meal.</p>
	</div>

	<div id="right" class="schottky">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="ostrich">BJCP:</span>
			Spice, Herb, or Vegetable Beer, style 21
		</div>
		<div id="recipe">
			<h2>Schottky Pumpkin</h2>
			<em>60% Efficiency, 15 gallons</em>

			<h3>Mash Ingredients</h3>
			30# Pale Malt Maris Otther 2row 3srm<br/>
			5# Pumpkin, canned, roasted<br/>
			3# Victory Malt 25srm<br/>
			2# Munich Malt 20srm<br/>
			1# Crystal 60 60srm<br/>
			0.5# Crystal 80 80srm<br/>
			<br/>
			Mash at 160 for 60 minutes<br/>

			<h3>Boil Ingredients</h3>
			60min - 3oz Cluster 7aa<br/>
			0min - 1oz Pumpkin pie spices<br/>

			<br/>
			OG 13.6p<br/>
			FG 3.5p<br/>
		</div>
	</div>

	<div id="left" class="ampere">
		<h1>Ampere Biere</h1>
		<p>This is a nice light bodied beer with the just-right amount of
		malt flavor that makes it perfect to drink year round. Our change from
		typical biere de gardes was to use a lager yeast that we ferment at
		lower ale temps. This simple beer leaves you feeling refreshed.</p>
	</div>

	<div id="right" class="ampere">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="ostrich">BJCP:</span>
			Biere de Garde
		</div>
		<div id="recipe">
			<h2>Ampere Biere Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			38# Pilsner 2row<br/>
			6# Vienna Malt 3.5srm<br/>
			2# Aromatic Malt 26srm<br/>
			1.5# Honey Malt 25srm<br/>
			<br/>
			Mash 151F for 75 minutes<br/>

			<h3>Boil Ingredients</h3>
			60min - 4oz Styrian Goldings 5.4aa<br/>
			<br/>
			OG 16.7p<br/>
			FG 5.2p<br/>
		</div>
	</div>

</div>


<div id="lower">

	<div id="beers">
		<div id="beer-background">
			<ul>
				<li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
				<li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
				<li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
				<li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
				<li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
			</ul>
		</div>
	</div>

	<div id="lower-nav">

		<div class="left" id="connect-twitter">
			<h2>Connect on <span class="darker">Twitter</span></h2>
			<div id="connect-on-twitter">
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
					new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 3,
					interval: 30000,
					width: 270,
					height: 245,
					theme: {
					shell: {
					background: '#686766',
					color: '#ffffff'
					},
					tweets: {
					background: '#b9b6af',
					color: '#333131',
					links: '#a01821'
					}
					},
					features: {
					scrollbar: true,
					loop: false,
					live: false,
					behavior: 'all'
					}
					}).render().setUser('mnbeer').start();
				</script>
			</div>
		</div>

		<img class="v-div" src="/assets/v-divider.png" alt="" />

		<div class="middle" id="connect-for-realz">
			<h2>Connect in Real Life</h2>
			<div id="connect-for-real">
				<img src="/assets/at-our-brewery.png" alt="At Our Brewery" />
			</div>
		</div>

		<img class="v-div" src="/assets/v-divider.png" alt="" />

		<div class="right" id="connect-other">
			<h2>Other Ways to <span class="darker">Connect</span></h2>
			<div id="other-ways-to-connect">
				<ul>
					<li class="blw">
						<a href="/blw">
							<span class="h2">Brew Logic Wiki</span>
							<div class="sub">Recipes &amp; Resources for home/pro brewers</div>
						</a>
					</li>
					<li class="facebook">
						<span class="h2">Facebook</span>
						<div class="sub">News and Events for Tin Whisker fans</div>
					</li>
					<li class="untappd">
						<span class="h2">Untappd</span>
						<div class="sub">Ratings &amp; Reviews of Tin Whiskers Brews</div>
					</li>
					<li class="contact">
						<span class="h2">Contact Us</span>
						<div class="sub">Questions &amp; Feedback are welcome</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="content" class="news">
	<div id="left" class="news">
		<h1>The new site</h1>
		<h2>July 15, 2012</h2>

		<p>We’re happy to launch our new site. Lorem ipsum dolor sit
		amet, consectetur adipiscing elit. Aliquam dui augue, porttitor sed
		pretium at, consequat et enim. Vivamus semper mi ac arcu ultrices
		euismod. Aenean malesuada dolor id leo rhoncus ac adipiscing nisl
		imperdiet. Fusce fermentum, ipsum ultricies suscipit tristique, nisl
		elit faucibus sapien, et eleifend nibh enim vitae leo. Let us know
		if you have any suggestions or feedback
		</p>

		<h1>Funding update</h1>
		<h2>July 1, 2012</h2>

		<p>
		In volutpat risus a risus tristique sit amet tincidunt mi
		dignissim. Pellentesque habitant morbi tristique senectus et netus et
		malesuada fames ac turpis egestas. Vestibulum volutpat, odio sed
		ultricies gravida, velit sapien tempor urna, id iaculis libero magna
		varius leo. Quisque a lacus scelerisque massa hendrerit aliquet.
		</p>

		<p>Contact us to learn more</p>

		<h1>Introducing our bourbon barrel Porter</h1>
		<h2>July 15, 2012</h2>
		<p>
		We’re happy to launch our new site. Lorem ipsum dolor sit
		amet, consectetur adipiscing elit. Aliquam dui augue, porttitor sed
		pretium at, consequat et enim. Vivamus semper mi ac arcu ultrices
		euismod. Aenean malesuada dolor id leo rhoncus ac adipiscing nisl
		imperdiet. Fusce fermentum, ipsum ultricies suscipit tristique, nisl
		elit faucibus sapien, et eleifend nibh enim vitae leo. Let us know
		if you have any suggestions or feedback
		</p>
	</div>

	<div id="right">
	</div>
</div>

<div id="content" class="who">
	<div id="left" class="about">
	<h1>One "Devoted connection" to beer.</h1>

<p>The three founders of Tin Whiskers Brewing Co., LLC are George
Kellerman, Jake Johnson, and Jeff Moriarty. They first met in 2005
while going to the University of Minnesota for bachelor degrees in
Electrical Engineering. Over time they managed to all work together as
hardware design engineers for a small engineering services company
that specialized in doing RF centric products. Being young engineers
working downtown Minneapolis they attended various happy hours and it
quickly became clear that they each really loved craft beer and were
very intrigued with the science of the brewing process.</p>

<p><strong>Jake</strong> and <strong>Jeff</strong> are the two brewers
of the company and designed and honed the recipes. They got their
start brewing in 2006 doing extract kits on Jake's Mom's kitchen stove
much to her chagrin (few boil overs did occurred on her
stove. Whoops!) They brewed countless extract kits for many years
until in 2010, when after touring Surly and Flat Earth they were
inspired to turn their passion, like the founders of those breweries,
into a business. From that point forward its been all grain brewing
and loving it. Nowadays Jake focuses on the brewing aspect of the
business. Jeff focuses on the brewing and on the business side of the
operation.</p>

<p><strong>George</strong> in the early years was a force within the
brewery helping out at every brew session providing a lot of muscle
with the cleaning and moving material around the brewhouse. He focused
a lot on the quality of our beer and pushed us to design better more
complex beers. He has moved on to be in charge of our online presence
with the development of our own beer wiki engine. </div></p>

	<div id="right">
		<h2>What's a <span class="darker">Tin Whisker</span></h2>
		<p>A Tin Whisker is is an electrical engineering term for a
		type of product fault that typically has the symptom of a short
		circuit on the printed circuit board (PCB). It is caused by a tin hair
		that would grow between adjacent pins of an integrated circuit (IC
		which are the little black parts you'll see on the circuit
		board). <a href="http://en.wikipedia.org/wiki/Tin_whisker">Read more on Wikipedia</a></p>

		<div class="twitter-widget"></div>
	</div>
</div>

<div id="content" class="where">
	<div id="left" class="about">
		<h1>We’re working on it.</h1>
		<p>The Tin Whiskers founders are busy getting the brewery up
		and running. If you’re interested in helping out or being a part of
		it, please contact Tin Whiskers. In the mean time, you'll only find
		Tin Whiskers beer in the basement brewery at founder, Jeff Moriarty's
		house. </p>

		<p>Eventually this page will have all the tools necessary to
		track down the nearest Tin Whisker's pint, growlers, or 6-pack.</p>

		<h2>Stay Connected</h2>
		<p><a href="#">Follow Us on Twitter</a></p>
		<p><a href="#">Check out our Facebook page</a></p>
		<p><a href="/blw">View the Wiki for Resources and Recipes</a></p>
	</div>
	<div id="right">
		<a href="#">
			<img src="/assets/at-our-brewery.png" alt="At Our Brewery" />
		</a>
	</div>
</div>


<div id="content" class="coming-soon">
	<div id="left" class="coming-soon">
		<h1>Work in Progress.</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
			enimad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div id="right" class="coming-soon">
		<div class="twitter-widget"></div>
	</div>
</div>


