<div id="banner" class="home">
	<div id="cell">
		<div id="text">
			<!-- <h1>Short Circuit Stout</h1> -->
		</div>
	</div>
</div> 

<div id="banner" class="news">
	<div class="h1">The Brew's News</div>
</div> 

<div id="banner" class="who">
</div> 

<div id="banner" class="where">
</div> 

<div id="banner" class="beers">
	<div id="beer-background">
		<!-- <img src="assets/blank.png" height="200px" width="960px" alt="beers" /> -->
		<ul>
			<li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
			<li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
			<li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
			<li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
			<li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
		</ul>
	</div>
</div>

<div id="content" class="beers short-circuit">

	<div id="left" class="short-circuit">
		<h1>Short Circuit Stout</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>

	<div id="right" class="short-circuit">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="bjcp">
			<span class="bjcp">BJCP:</span>
			Sweet Stout, style 13B
		</div>
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A
			30min - 2.25# Lactose
			1min - 2oz East Kent Goldings 5%A
		</div>
	</div>

	<div id="left" class="flip-switch">
		<h1>Flip Switch IPA</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>

	<div id="right" class="flip-switch">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A
			30min - 2.25# Lactose
			1min - 2oz East Kent Goldings 5%A
		</div>
	</div>

	<div id="left" class="wheatstone">
		<h1>Wheatstone Bridge</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>

	<div id="right" class="wheatstone">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A
			30min - 2.25# Lactose
			1min - 2oz East Kent Goldings 5%A
		</div>
	</div>

	<div id="left" class="schottky">
		<h1>Schottky Pumpkin</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>

	<div id="right" class="schottky">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A
			30min - 2.25# Lactose
			1min - 2oz East Kent Goldings 5%A
		</div>
	</div>

	<div id="left" class="ampere">
		<h1>Ampere Biere</h1>
		<p>
			Short Circuit Stout is a <strong>full-bodied</strong> and <strong>roasty stout</strong>
			with a lingering <strong>sweet</strong> aftertaste.  It uses 5 different malts to
			create a variety of flavors that change in the course of taking a
			sip. It falls into the <strong>13B Sweet Stout</strong> style category as identified by
			the Beer Judge Certification Program (BJCP).
		</p>
		<h2>How's It Made?</h2>
		<p>
			By definition, a short circuit is an abnormal connection
			between two nodes of an electric circuit, often resulting in
			overheating, fire or even explosion. To the Tin Whiskers crew, this is
			a great way to describe the crossover of the distinct roasted flavors
			from the malts and the sweet aftertaste from the unfermentable lactose
			added during the boil. If you really want to blow your mind, try it
			served over vanilla ice cream for a beer float!
		</p>
	</div>

	<div id="right" class="ampere">
		<img src="/assets/sidebar-short-circuit-stout.jpg" alt="Short Circuit Stout" />
		<div id="recipe">
			<h2>Short Circuit Stout Recipe</h2>
			<em>60% Efficiency, 15 galloons</em>

			<h3>Mash Ingredients</h3>
			25# Pale Malt Maris Otter 2row 3srm<br/>
			4# Chocolate Malt 350srm<br/>
			4# Malted Oats 1srm<br/>
			3# Crystal 120 120srm<br/>
			2# Flaked Barley 1.7srm<br/>
			1.15# Roasted Barley 300srm<br/>
			0.20# Black Malt 500srm

			<h3>Boil Ingredients</h3>
			60min - 4oz Cluster 7%A
			30min - 2.25# Lactose
			1min - 2oz East Kent Goldings 5%A
		</div>
	</div>

</div>


<div id="lower">

	<div id="beers">
		<div id="beer-background">
			<ul>
				<li id="short-circuit"><a class="beer-link" href="/beers/short-circuit">Short Circuit Stout</a></li>
				<li id="flip-switch"><a class="beer-link" href="/beers/flip-switch">Flip Switch IPA</a></li>
				<li id="wheatstone"><a class="beer-link" href="/beers/wheatstone">Wheatstone Bridge</a></li>
				<li id="schottky"><a class="beer-link" href="/beers/schottky">Schottky Pumpkin Ale</a></li>
				<li id="ampere"><a class="beer-link" href="/beers/ampere">Ampere Biere De Garde</a></li>
			</ul>
		</div>
	</div>

	<div id="lower-nav">

		<div class="left">
			<h2>Connect on Twitter</h2>
			<div id="connect-on-twitter">
				<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
					new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 3,
					interval: 30000,
					width: 270,
					height: 241,
					theme: {
					shell: {
					background: '#686766',
					color: '#ffffff'
					},
					tweets: {
					background: '#b9b6af',
					color: '#333131',
					links: '#a01821'
					}
					},
					features: {
					scrollbar: true,
					loop: false,
					live: false,
					behavior: 'all'
					}
					}).render().setUser('mnbeer').start();
				</script>
				<!-- <img src="/assets/twitter-widget.png" alt="Twitter" /> -->
			</div>
		</div>

		<img class="v-div" src="/assets/v-divider.png" alt="" />

		<div class="middle">
			<h2>Connect in Real Life</h2>
			<div id="connect-for-real">
				<img src="/assets/at-our-brewery.png" alt="At Our Brewery" />
			</div>
		</div>

		<img class="v-div" src="/assets/v-divider.png" alt="" />

		<div class="right">
			<h2>Other Ways to Connect</h2>
			<div id="other-ways-to-connect">
				<ul>
					<li>
						<a href="/blw">
							<img src="/assets/blw-icon.png" alt="Brew Wiki" />
							<span class="h2">Brew Wiki</span>
							<div class="sub">Recipes &amp; Resources for home/pro brewers</div>
						</a>
					</li>
					<li>
						<img src="/assets/facebook-icon.png" alt="Facebook" />
						<span class="h2">Facebook</span>
						<div class="sub">News and Events for Tin Whisker fans</div>
					</li>
					<li>
						<img src="/assets/untappd-icon.png" alt="Untappd" />
						<span class="h2">Untappd</span>
						<div class="sub">Ratings &amp; Reviews of Tin Whiskers Brews</div>
					</li>
					<li>
						<img src="/assets/contact-icon.png" alt="Contact Us" />
						<span class="h2">Contact Us</span>
						<div class="sub">Questions &amp; Feedback are welcome</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="content" class="news">
	<div id="left" class="news">
		<h1>The new site</h1>
		<h2>July 15, 2012</h2>

		<p>We’re happy to launch our new site. Lorem ipsum dolor sit
		amet, consectetur adipiscing elit. Aliquam dui augue, porttitor sed
		pretium at, consequat et enim. Vivamus semper mi ac arcu ultrices
		euismod. Aenean malesuada dolor id leo rhoncus ac adipiscing nisl
		imperdiet. Fusce fermentum, ipsum ultricies suscipit tristique, nisl
		elit faucibus sapien, et eleifend nibh enim vitae leo. Let us know
		if you have any suggestions or feedback
		</p>

		<h1>Funding update</h1>
		<h2>July 1, 2012</h2>

		<p>
		In volutpat risus a risus tristique sit amet tincidunt mi
		dignissim. Pellentesque habitant morbi tristique senectus et netus et
		malesuada fames ac turpis egestas. Vestibulum volutpat, odio sed
		ultricies gravida, velit sapien tempor urna, id iaculis libero magna
		varius leo. Quisque a lacus scelerisque massa hendrerit aliquet.
		</p>

		<p>Contact us to learn more</p>

		<h1>Introducing our bourbon barrel Porter</h1>
		<h2>July 15, 2012</h2>
		<p>
		We’re happy to launch our new site. Lorem ipsum dolor sit
		amet, consectetur adipiscing elit. Aliquam dui augue, porttitor sed
		pretium at, consequat et enim. Vivamus semper mi ac arcu ultrices
		euismod. Aenean malesuada dolor id leo rhoncus ac adipiscing nisl
		imperdiet. Fusce fermentum, ipsum ultricies suscipit tristique, nisl
		elit faucibus sapien, et eleifend nibh enim vitae leo. Let us know
		if you have any suggestions or feedback
		</p>
	</div>

	<div id="right">
	</div>
</div>

<div id="content" class="who">
	<div id="left" class="about">
	<h1>One "Devoted connection" to beer.</h1>

<p>The three founders of Tin Whiskers Brewing Co., LLC are George
Kellerman, Jake Johnson, and Jeff Moriarty. They first met in 2005
while going to the University of Minnesota for bachelor degrees in
Electrical Engineering. Over time they managed to all work together as
hardware design engineers for a small engineering services company
that specialized in doing RF centric products. Being young engineers
working downtown Minneapolis they attended various happy hours and it
quickly became clear that they each really loved craft beer and were
very intrigued with the science of the brewing process.</p>

<p><strong>Jake</strong> and <strong>Jeff</strong> are the two brewers
of the company and designed and honed the recipes. They got their
start brewing in 2006 doing extract kits on Jake's Mom's kitchen stove
much to her chagrin (few boil overs did occurred on her
stove. Whoops!) They brewed countless extract kits for many years
until in 2010, when after touring Surly and Flat Earth they were
inspired to turn their passion, like the founders of those breweries,
into a business. From that point forward its been all grain brewing
and loving it. Nowadays Jake focuses on the brewing aspect of the
business. Jeff focuses on the brewing and on the business side of the
operation.</p>

<p><strong>George</strong> in the early years was a force within the
brewery helping out at every brew session providing a lot of muscle
with the cleaning and moving material around the brewhouse. He focused
a lot on the quality of our beer and pushed us to design better more
complex beers. He has moved on to be in charge of our online presence
with the development of our own beer wiki engine. </div></p>

	<div id="right">
	</div>
</div>

<div id="content" class="where">
	<div id="left" class="about">
		<h1>We’re working on it.</h1>
		<p>The Tin Whiskers founders are busy getting the brewery up
		and running. If you’re interested in helping out or being a part of
		it, please contact Tin Whiskers. In the mean time, you'll only find
		Tin Whiskers beer in the basement brewery at founder, Jeff Moriarty's
		house. </p>

		<p>Eventually this page will have all the tools necessary to
		track down the nearest Tin Whisker's pint, growlers, or 6-pack.</p>

		<h2>Stay Connected</h2>
		<p><a href="#">Follow Us on Twitter</a></p>
		<p><a href="#">Check out our Facebook page</a></p>
		<p><a href="#">View the Wiki for Resources and Recipes</a></p>
	<div id="right">
	</div>
</div>


