<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	
	<title>Tin Whiskers Brewing Co.</title>
	
	<!-- <script>try{Typekit.load();}catch(e){};TypekitConfig={kitId:"zbh6eqe",scriptTimeout:4000},function(){var a=document.getElementsByTagName("html")[0];a.className+=" wf-loading";var b=setTimeout(function(){a.className=a.className.replace(/(\s|^)wf-loading(\s|$)/g,""),a.className+=" wf-inactive"},TypekitConfig.scriptTimeout),c=document.createElement("script");c.src="//use.typekit.com/"+TypekitConfig.kitId+".js",c.type="text/javascript",c.async="true",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a=="complete"||a=="loaded"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}()</script> -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="fresh.css" type="text/css" media="screen" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="tw.js"></script>

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
	<link rel="apple-touch-icon" sizes="114x114" href="assets/icon.png"/>
	
	<meta name="description" content="Dig responsive design? Hate fluid grids? Try a Frameless grid."/>
</head>

<body lang="en">

	<div id="header">

		<div id="tabs">
			<ul>
				<li id="twb-tab" class="active">
					<a href="#">
						<img src="assets/twb-tab-text-active.png" alt="Tin Whiskers Brewing Co."/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="assets/blw-tab-text.png" alt="Tin Whiskers Brewing Co."/>
					</a>
				</li>
			</ul>
		</div>

		<div id="contact">
			<a href="#">
				<img src="assets/contact.png" alt="Contact Us" />
			</a>
		</div>

	</div>
	<nav id="primary-nav">
		<ul>
			<li>
				<a href="beer.html">
					<img src="assets/beer-specifications.png" alt="Beer Specifications" />
				</a>
			</li><li>
				<a href="#">
					<img src="assets/news-and-updates.png" alt="News and Updates" />
				</a>
			</li><li id="logo-cog">
				<a href="/">
					<img src="assets/logo-cog.png" alt="Tin Whiskers Brewing" />
				</a>
			</li><li>
				<a href="#">
					<img src="assets/who-are-we.png" alt="Who are we?" />
				</a>
			</li><li>
				<a href="#">
					<img src="assets/where-to-find-us.png" alt="Where to Find Us" />
				</a>
			</li>
		</ul>
	</nav>

	<div id="content"></div>

	<footer id="footer">

		<div id="footer-primary-nav">
			<ul>
				<li>
					<a href="#">Beer Specifications</a>
				</li>
				<li>
					<a href="#">News &amp; Updates</a>
				</li>
				<li>
					<a href="#">Who Are We?</a>
				</li>
				<li>
					<a href="#">Where to Find Us</a>
				</li>
			</ul>
		</div>
		<div id="footer-contact">
			<img src="assets/tin-whiskers-logo-footer.png" alt="Tin Whiskers Brewing Co." />
			<p>&copy; Tin Whiskers Brewing Company</p>
			<p>1151 County Road B West, Roseville, Minnesota 55113</p>
		</div>

		<div id="footer-secondary-nav">
			<ul>
				<li>
					<a href="#">Brew Logic Wiki</a>
				</li>
				<li>
					<a href="#">On Facebook</a>
				</li>
				<li>
					<a href="#">On Untappd</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
			</ul>
		</div>
		
	</footer>
	
</body>

</html>
